extends layout.pug
doctype html
html(lang="en")
    head
        link(rel="stylesheet" href = "style.css")
        style
            .h1 { 
                background-color: black;
                text-align: center;
                color: green;
                text-decoration: underline;
            }
    body
        h1 TOP 5 HI SCORES
        -const top5highscore [] = Gettop5;
        
        for(i=0; i<5; i++){
            if current.highscore > top5highscore
            h1#Congrats CONGRATULATIONS ON A NEW HIGHSCORE!!                    {style color:yellow}            
            ol
                li  #{top5highscore.username},&nspb + 
                    |#{top5highscore.highscore};

                    #{highscore.username}, &nspb + 
                    |#{highscore.userhighscore};

                    #{highscore.username}, &nspb + 
                    |#{highscore.userhighscore};

                    #{highscore.username}, &nspb + 
                    |#{highscore.userhighscore};

                    #{highscore.username}, &nspb + 
                    |#{highscore.userhighscore};
            
        }

